<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="gecode" version="4.2.1" targetFramework="Native" />
  <package id="gecode-vc100" version="4.2.1" targetFramework="Native" />
  <package id="gecode-vc100.redist" version="4.2.1" targetFramework="Native" />
  <package id="jsoncpp" version="0.5.0-r20140114" targetFramework="Native" />
  <package id="jsoncpp-vc100" version="0.5.0-r20140114" targetFramework="Native" />
</packages>