<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="DefaultPushSource" value="\\longbox\share\NuGetPackages" />
    <add key="repositorypath" value="src\nuget" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="longbox" value="\\longbox\share\NuGetPackages" />
    <add key="stormtrooper" value="\\stormtrooper\share\NuGetPackages" />
    <add key="longboxIP" value="\\192.168.1.20\share\NuGetPackages" />
    <add key="stormtrooperIP" value="\\192.168.1.21\share\NuGetPackages" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
</configuration>
